@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;;
	font-family: "Josefin Sans", sans-serif;
	/*font-weight: 500;*/
}

body{
	background-color: hsl(206, 92%, 94%);
}

.main-content{
	display: block;
	width: 50%;
	margin: auto;
	margin-top: 50px;
	background-color: white;
	padding: 2rem 8rem;
	border-radius: 1rem;
	box-shadow: 0 1rem -0.7rem rgba(0, 1, 0.2, .4);
}

.main-content li{
	list-style: none;
	font-size: 1.4rem;
	margin-top: 1.1rem;
}
input{
	cursor: pointer;
}
#submit{
	border-radius: 10px;
	padding: 1rem 3rem;
	outline: none;
	font-size: 1.4rem;
	display: block;
	margin: auto;
	font-size: 400;
	font-weight: 600;
	color: #fff;
	background-color: #74b9ff;
	margin-top: 4rem;
	cursor: pointer;
}

.btn{
	border-radius: 10px;
	padding: 1rem 3rem;
	outline: none;
	font-size: 1.4rem;
	display: block;
	margin: auto;
	font-size: 400;
	color: #fff;
	background-color: #75ef91;
	margin-top: 1rem;
	cursor: pointer;
}

#submit:hover{
	background-color: #0984e3;
}

.btn:hover{
	background-color: #22ff92;
}
#showScore{
	background-color: #dfe5e9;
	margin-top: 3rem;
	padding: 1.4rem 4rem;
	font-size: 1.4rem;
	font-weight: 700;
}
.showArea{
		display: none;

}


